apscheduler==3.9.1
beautifulsoup4==4.11.1
Django==4.1.2
django-cors-headers==3.13.0
djangorestframework==3.14.0
django-graphql-auth==0.3.7
django-graphql-jwt==0.3.4
graphene-django==3.0.0
pillow==9.3.0
psycopg2==2.9.4
requests==2.28.1